In [2]:
import pandas as pd
import numpy as np

### Netflix_originals

# Información sobre el dataframe netflix_originals:
- Este dataframe contiene información sobre los títulos provenientes de netflix originals. Incluye detalles sobre el título, el género, la fecha de lanzamiento, duración y notas en IMDB, así como el idioma 

- Tenemos un df con 7 columnas y 513 observaciones totales.
- Todos los datos corresponden al sentido común y tienen el tipo adecuado.
- Eliminada columna Unnamed:0, pues no aporta al ser un índice redundante.
- No hay valores duplicados generales. Tampoco hay títulos iguales en diferentes idiomas no registrados como tal.
- Los principales géneros de películas son documentales (24,7%), drama (14,2%) y comedias (8,1%). Los menos comunes son animación, comedias sobre danza y animación. Todas con un 1,9% del total.
 -- (Para un futuro me gustaría implementar un método de separación de géneros para aumentar la precisión)
- No existen datos nulos en la base.
- La media de duración de cada show es de una hora y media (94 minutos)

In [2]:
import pandas as pd

In [3]:
df_originals = pd.read_csv("..\lab2_m2_pandas\datos/netflix_originals.csv") 
df_originals.head(5)

,Unnamed: 0,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi

In [ ]:
df_originals.info

In [ ]:
df_originals.dtypes

In [6]:
#Dropeo fila unnamed:0 porque contiene valores no válidos
df_originals.drop (columns = ["Unnamed: 0"], inplace=True)

In [ ]:
#Valores duplicados generales
df_originals.duplicated().sum()
#Valores duplicados por título
df_originals.duplicated(subset = "Title").sum()

In [ ]:
#Géneros más populares
df_originals["Genre"].value_counts(1)

In [118]:
import re
df_fechalanz = df_originals["Premiere"]

patron_yr = r"\s"
df_originals[["Mes", "Año"]] =  df_originals["Premiere"].str.split(patron_yr,expand = True).get([0,2])

#He intentado coger al año max y mínimo, pero me coge el string y no sé cambiarlo a INT aún
df_originals["Año"].mean()

TypeError: Could not convert string '201920202019201820202019202020202018202120202020202020162019202020202021201720192019202120212020202120202021201820192016201920192020202020202019202120202020202020202017202020202017202020152020202020192020202020182020201620212020201720202018202120202019202020182019202120172017202020182019201720192021201920202018201820192020202020202018202120182019201620202019201920182020201920212017202120202020201520182019202120192019201920202018202120212018201820192018201820192019201720162021201920182020202020202019202120202020202020202021202120212017202020172019202020192019201720202018201920212016201820212020201920192020201720202019201620182020202020182018202120192016202020182020202020172017201620182018202020202019202020202018202020182021201820192020202020202021201820202016202020182018201920192020202020202018201820202017201920192017201720172020201920152018202020192016202020202021202120172020201720192020202020202021202120202020201920192020202020202018201920202018201820172017201920182018201820172018202120202021202120192021202020192017201720162017201720192019201920182020201920202020201620192018201920182020202020212020201420182020201920172018202120172020202020192018201920172018201920202020201920202019202020212020201720202020201920182021201820202017202120182017202020172021201820202021201920162020201920212018201820202021201820182020201920212020202120212019202120212020202020202020201720202019202120212021202120162020201620192018201620182020202020192020201820202020202020172018201720202020202020202018201720212020201620212020201720172017201820212018202020202019201920172018201720172019201920202020201920192019201720192020201820192018201820202019202020202018201820192021201920202017201520182016201720212018202020212019202120202016201720162020201820192018201920182019202120192019201620182019201920162020201720202020202020172018202020192019202020202016201620182017201620152019201920172020201920202018201920192020201520182020201920172018201620202020201820192018202020192015202020152020202020192020202020172019201620172020202020192021202020172019201520182020' to numeric

In [ ]:
#Valores nulos
np.round(df_originals.isnull().sum())

In [ ]:
df_originals.groupby("Genre")["Runtime"].mean()

### Netflix_titles

In [35]:
df_titles = pd.read_csv("..\lab2_m2_pandas\datos/netflix_titles.csv")

# Analisis dataframe netflix titles

In [119]:
df_titles.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

(8807, 13)

In [91]:
df_originals.dtypes

Unnamed: 0      int64
Title          object
Genre          object
Premiere       object
Runtime         int64
IMDB Score    float64
Language       object
dtype: object

In [95]:
df_titles.drop (columns = ["Unnamed: 0"], inplace=True)

In [97]:
df_originals.duplicated().sum()

0      False
1      False
2      False
3      False
4      False
       ...
508    False
509    False
510    False
511    False
512    False
Length: 513, dtype: bool

In [105]:
df_titles.value_counts()

show_id  type   title                        director         cast                                                                                                                                                                                              country        date_added          release_year  rating  duration  listed_in                                       description
s10      Movie  The Starling                 Theodore Melfi   Melissa McCarthy, Chris O'Dowd, Kevin Kline, Timothy Olyphant, Daveed Diggs, Skyler Gisondo, Laura Harrier, Rosalind Chao, Kimberly Quinn, Loretta Devine, Ravi Kapoor                            United States  September 24, 2021  2021          PG-13   104 min   Comedies, Dramas                                A woman adjusting to life after a loss contends with a feisty bird that's taken over her garden — and a husband who's struggling to find a way forward.    1
s6370    Movie  Brampton's Own               Michael Doneger  Alex Russell, Rose McIver, Jean Smart, Scott Porter, Kevin Linehan, Spencer Grammer, Carter Hastings, Riley Voelkel, John Getz                                                                    United States  April 19, 2019      2018          TV-MA   90 min    Dramas, Romantic Movies, Sports Movies          After 12 years in the minors, a struggling baseball player retires, returns home and faces the last person he struck out with – his ex-girlfriend.         1
s6376    Movie  Breath                       Simon Baker      Samson Coulter, Ben Spence, Simon Baker, Elizabeth Debicki, Richard Roxburgh, Rachael Blake, Jacek Koman                                                                                          Australia      December 5, 2018    2018          TV-MA   116 min   Dramas, Sports Movies                           In mid-1970s Australia, two small-town teenage boys befriend an enigmatic middle-aged surfer, who urges them to see the thrill in facing their fears.      1
s6377    Movie  Brick                        Rian Johnson     Joseph Gordon-Levitt, Nora Zehetner, Lukas Haas, Noah Fleiss, Matt O'Leary, Emilie de Ravin, Noah Segan, Richard Roundtree, Meagan Good, Brian White                                              United States  September 1, 2018   2005          R       110 min   Independent Movies, Thrillers                   Teenage loner Brendan Fry navigates his high school's intense social network to discover a killer's identity after his secret crush is murdered.           1
s6380    Movie  Brooklyn's Finest            Antoine Fuqua    Richard Gere, Don Cheadle, Ethan Hawke, Wesley Snipes, Will Patton, Lili Taylor, Michael Kenneth Williams, Brían F. O'Byrne, Shannon Kane, Ellen Barkin, Vincent D'Onofrio, Logan Marshall-Green  United States  October 1, 2018     2009          R       133 min   Dramas, Thrillers                               Three cops find themselves hurtling toward the same crime scene on one fatal night in this tense, edge-of your-seat thriller.                              1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ..
s3866    Movie  Jo Pil-ho: The Dawning Rage  Lee Jeong-beom   Lee Sun-kyun, Jeon So-nee, Park Hae-joon, Song Young-chang, Park Byung-eun, Lim Hyung-kuk, Kim Min-jae, Kwon Han-sol, Nam Mun-cheol, Lim Cheol-su                                                 South Korea    May 3, 2019         2018          TV-MA   128 min   Dramas, International Movies, Thrillers         On the run from a dogged internal affairs agent, a corrupt cop reluctantly teams up with a defiant teen to unravel a conspiracy – before it's too late.    1
s3867    Movie  The Last Summer              William Bindley  K.J. Apa, Maia Mitchell, Tyler Posey, Jacob Latimore, Halston Sage, Wolfgang Novogratz, Sosie Bacon, Jacob McCarthy, Mario Revolori, Gage Golightly, Audrey Grace Marshall                        United States  May 3, 2019         2019          TV-14   110 min   Comedies, Romantic Movies                       Teens from a Chicago high school grapple with their dreams, relationships and identities in a transformative summer before they leave for college.         1
s3869    Movie  Laatu                        Manav Shah       Gagan Kokri, Aditi Sharma, Karamjit Anmol, Sardar Sohi, Anita Devgan, Ashish Duggal, Nisha Bano, Harby Sangha, Rahul Jungral, Prakash Gadhu                                                       India          May 2, 2019         2018          TV-PG   116 min   Comedies, Dramas, International Movies          A man who hopes to bring light to his village must compete with an officer from the electricity department to win over the love of his life.               1
s3870    Movie  Olympus Has Fallen           Antoine Fuqua    Gerard Butler, Aaron Eckhart, Morgan Freeman, Finley Jacobsen, Dylan McDermott, Rick Yune, Angela Bassett, Melissa Leo, Radha Mitchell, Cole Hauser, Ashley Judd, Robert Forster                  United States  May 2, 2019         2013          R       119 min   Action & Adventure                              A disgraced Secret Service agent must come to the rescue when Korean terrorists descend on the White House and take the president hostage.                 1
s997     Movie  HOMUNCULUS                   Takashi Shimizu  Go Ayano, Ryo Narita, Yukino Kishii, Anna Ishii, Seiyo Uchino                                                                                                                                     Japan          April 22, 2021      2021          TV-MA   116 min   Horror Movies, International Movies, Thrillers  Truth and illusion blurs when a homeless amnesiac awakens from an experimental medical procedure with the ability to see people's innermost traumas.       1
Name: count, Length: 2930, dtype: int64